main{
    min-height: 500px;

}

#section-banner{
    min-height: 400px;

}

#section-banner img{
    height: 500px;

}

h2{
    text-align: center;
    color: red;
    font-size: 40px;
    margin-top: 5px;
}

.example-card {
    max-width: 400px;

  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: auto;
  }

  mat-grid-list{
    margin: 10px 0px;
  }

  mat-grid-tile{
    padding: 20px;
    color: red;
    border-radius: 30px;
}

mat-card-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-card-actions{
    display: flex;
    color: red;
    justify-content: space-around;
  }

  mat-card-actions p{
    color:yellow;
    font-size: 30px;
  }

  mat-card img{
    height: 300px;
    width: 300px;
  }





